html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e4176;
    /* Dark blue background */
    color: #fff;
}

header {
    background-color: #0288d1;
    /* Light blue header */
    color: #fff;
    font-size:20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-size: 28px;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid white;
    transition: 0.05s;
}

.nav-active {
    border-bottom: 2px solid white;
    transition: padding 0.3s;
}

.nav-active:hover {
    padding-bottom: 6px;
    transition: 0.2s;
}