html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e4176;
    /* Dark blue background */
    color: #fff;
}

header {
    background-color: #0288d1;
    /* Light blue header */
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-size: 28px;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid white;
    transition: 0.05s;
}

.nav-active {
    border-bottom: 2px solid white;
    transition: padding 0.3s;
}

.nav-active:hover {
    padding-bottom: 6px;
    transition: 0.2s;
}

.center-image {
    display: flex;
    width: 100%;
}

.center-image img {
    max-width: 33.33%;
    height: auto;
}

.side-news {
    width: 20%;
    float: left;
    border-right: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}

.news {
    padding: 20px;
    background-color: #1e4176;
}

.news-header-text {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.news-body {
    font-size: 1em;
}

.news-text-body {
    font-size: 1em;
}

.main-center {
    display: flex;
    padding: 20px;
    text-align: center;
}

.slogan h2 {
    font-size: 48px;
    color: white;
}

.slogan-block-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: center;
    /* Center items horizontally */
    align-items: stretch;
    /* Stretch items to have equal height */
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.slogan-block-card {
    --borderWidth: 5px;
    border-radius: var(--borderWidth);
    padding: 1em;
    flex-basis: 26%;
    margin: 1em;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #f0f0f0;
    position: relative;
}

.slogan-block-card:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

.slogan-block-image img {
    max-width: 100%;
    border-radius: 10px;
}

.slogan-block-link {
    text-decoration: none;
    color: inherit;
}

.slogan-block-text {
    margin-top: 1em;
    font-size: 1.3em;
    color: #333;
}

.tickets {
    background: #0288d1;
    border: 1px solid #0288d1;
    box-shadow: 4px 8px;
    padding: 10px;
}

.ticket-button {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #ff6602 0%, #fd332d 100%);
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}

.read-more {
    display: inline-block;
    color: white;
    text-decoration: underline;
}


.about-us h2 {
    color: white;
}

.about-us h3 {
    margin: 10px;
    font-size: 32;
}

.about-us .main-text {
    padding: 10px;
    margin-bottom: 30px;
}

footer {
    background-color: #0288d1;
    /* Light blue footer */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

footer .social-media img {
    width: 25px;
    margin-left: 10px;
}

footer a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}