/* main settings for the whole page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e4176;
    color: #fff;
}

/* settings for a header */
header {
    background-color: #0288d1;
    color: #fff;
    font-size: 22px;
    padding: 1px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

/* setting for navigation buttons in a header */
nav a {
    font-size: 28px;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

/* effect on navigation buttons when is hovering */
nav a:hover {
    border-bottom: 2px solid white;
    transition: 0.05s;
}

/* settings for navigation active button (this page) */
.nav-active {
    border-bottom: 2px solid white;
    transition: padding 0.3s;
}

/* effect on navigation active button (this page) when is hovering*/
.nav-active:hover {
    padding-bottom: 6px;
    transition: 0.2s;
}

#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

#menu-toggle {
    display: none;
}

@media (max-width: 900px) {
    .nav-links a {
        font-size: calc(3vw - 1%)
    }
    header h1 {
        font-size: calc(4vw - 1%);
    }
    .side-news {
        display: none;
    }
    
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: #0288d1;
        z-index: 3;
    }
    .nav-links a {
        margin: 10px 0;
        text-align: center;
        padding: 10px;
        border-top: 1ps solid rgba(255, 255, 255, 0.2)
    }
    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}

/* settings for top images */
.center-image {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;
}

/* settings for each image at the top */
.center-image img {
    max-width: 33.33%;
    height: auto;
}

/* settings for recent news column */
.side-news {
    width: 20%;
    float: left;
    border-right: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}

/* settings of padding for everything inside side-news */
.news {
    padding: 10px;
}

/* settings for "recent news" text */
.news h2 {
    border-bottom: 0.2vw solid black;
}

/* settings for each header of the news */
.news-header-text {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

/* setting for text of news */
.news-text-body {
    font-size: 1em;
    text-decoration: none;
    color: white;
}

/* setting for main part to the right of news */
.main-center {
    display: flex;
    padding: 20px;
    text-align: center;
}

/* setting for "Why we" text */
.slogan h2 {
    font-size: 48px;
}

/* settings for cards */
.slogan-block-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: center;
    /* Center items horizontally */
    align-items: stretch;
    /* Stretch items to have equal height */
}

/* function that gives movements to gradient */
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 25% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 25% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* settings for each card */
.slogan-block-card {
    --borderWidth: 5px;
    border-radius: var(--borderWidth);
    padding: 1em;
    /* space that each card takes */
    flex-basis: 26%;
    margin: 1em;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #f0f0f0;
    position: relative;
}

/* modifies gradient border of each card */
.slogan-block-card:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

/* setting for image inside card */
.slogan-block-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* setting for text inside card */
.slogan-block-text {
    margin-top: 1em;
    font-size: 1.3em;
    color: #333;
}

@media(max-width: 1100px) {
    .slogan-block-card {
        flex-basis: 35%;
    }
}

@media(max-width: 768px) {
    .slogan-block-card {
        flex-basis: 50%;
    }
    .center-image img:nth-child(n+1) {
        display: none;
    }
    .center-image img:nth-child(2) {
        display: block;
        max-width: 50%;
    }
    .center-image img:nth-child(1) {
        display: block;
        max-width: 50%;
    }
    .center-image {
        display: flex;
        text-align: center;
    }
}

@media(max-width: 600px) {
    .slogan-block-card {
        flex-basis: 100%;
    }
    .center-image img:nth-child(n+2) {
        display: none;
    }
    .center-image img:nth-child(1) {
        display: block;
        max-width: 100%;
    }
    .center-image {
        display: block;
        text-align: center;
    }
}
 
/* setting for frame with ticket advertisments */
.tickets {
    background: #0288d1;
    box-shadow: 8px 8px;
    padding: 1px;
}

/* setting for button inside ticket advertisments */
.ticket-button {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #ff6602 0%, #fd332d 100%);
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}

/* setting for "read more" text link inside ticket advertisments */
.read-more {
    display: inline-block;
    color: white;
    text-decoration: underline;
    margin-bottom: 10px;
}

/* settings for main text in invitation */
.about-us h3 {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
}

/* settings for the whole footer */
footer {
    background-color: #0288d1;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

/* settings for each image in footer */
footer .social-media img {
    max-width: 36px;
    margin: 0 5px;
}

/* settings for privacy and terms of service in footer */
footer a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

/* Responsive design for 768px and below */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center; /* Center align the items */
    }
    footer div {
        margin: 10px 0; /* Add more spacing for clarity */
    }
    .social-media img {
        max-width: 28px; /* Smaller icons */
    }
    footer a {
        margin: 10px; /* Space out links more evenly */
    }
}

/* Responsive design for 600px and below */
@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
    footer div {
        margin: 10px 0;
    }
    .social-media img {
        max-width: 25px; /* Even smaller icons for small screens */
    }
    footer a {
        margin: 10px 0; /* Stack links vertically */
        display: block; /* Block display for better stacking */
    }
}