html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    text-align: center;
    position: absolute;
}

.nav-list {
    margin: 0vw;
    overflow: hidden;
    background-color: rgb(44, 102, 210);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-buttons {
    margin: 1vw;
    display: inline;
    border: 0.2vw solid rgb(289, 189, 20);
    border-radius: 0.5vw;
    transition: all 0.2s ease 0s;
}

.nav-buttons:hover {
    border-radius: 4vw;
    transition: all 0.3s ease 0s;
}

.nav-buttons a {
    color: #f2f2f2;
    padding: 2vw 3.5vw;
    text-decoration: none;
    font-size: 32px;
}

.nav-active {
    background-color: rgb(289, 189, 20);
    border-radius: 4vw;
}

.center-image {
    display: flex;
    margin-top: 65px;
    width: 100%;
}

.center-image img {
    max-width: 33.33%;
    height: auto;
}

.side-news {
    width: 20%;
    float: left;
    border-right: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}

.news-header {
    padding: 20px;
    background-color: #f5f5f5;
}

.news-header-text {
    font-size: 1.5em; 
    margin: 0 0 10px 0;
}

.news-body {
    font-size: 1em; 
}

.news-text-body {
    font-size: 1em;
}

.main-center {
    display: flex;
    padding: 20px;
    text-align: center;
}

.slogan h2 {
    font-size: 48px;
    color: rgb(44, 102, 210);
}

.slogan-block-list {
    list-style: none; 
    display: flex; 
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    align-items: stretch; /* Stretch items to have equal height */
}

.slogan-block-card {
    border-radius: 10px; 
    padding: 1em; 
    flex-basis: 26%; /* Each card takes roughly 21% of the row */
    margin: 1em; 
    box-sizing: border-box; 
    /* display: flex;  */
    flex-direction: column;
    /* align-items: center;  */
    /* text-align: center; */
    background-color: #f0f0f0; 
}

.slogan-block-image img {
    max-width: 100%; 
    border-radius: 10px; 
}

.slogan-block-link {
    text-decoration: none; 
    color: inherit; 
}

.slogan-block-text {
    margin-top: 1em; 
    font-size: 1.3em; 
    color: #333; 
}

.tickets-info-inputs {
    display: flex;
    flex-direction: column;
    /* align-items: center; Center the labels and inputs */
}

.tickets-info-inputs label {
    /* width: 100%; */
    margin: 5px 0;
    text-align: left; /* Align text to the left within labels */
}

.tickets-info-inputs input {
    width: 100%;
    padding: 5px;
    margin-top: 5px; 
    box-sizing: border-box;
}

.about-us h2 {
    color: rgb(44, 102, 210);
}

.about-us h3 {
    margin: 10px;
    font-size: 32;
}

.about-us .main-text {
    padding: 10px;
}

footer {
    background-color: rgb(44, 102, 210);
    color: white;
    padding: 10px;
}

.footer-list {
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */
}

.contacts-section {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.telephone, .email {
    /* display: flex; */
    /* align-items: center; */
    margin: 10px 0; 
}

.phone_icon, .mail_icon {
    margin-right: 10px; 
    width: 30px; 
    height: 30px; 
}

.social_media-section {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    /* align-items: center;  */
    margin: 10px 0; 
}

.tiktok, .facebook, .instagram, .x {
    display: flex; 
    align-items: center; 
    /* justify-content: flex-start;  */
    width: 30%; 
    margin: 7px; 
    /* box-sizing: border-box;  */
}

.tiktok_icon, .facebook_icon, .instagram_icon, .x_icon {
    margin-right: 10px; 
    width: 30px;
    height: 30px; 
}

.social_media-section a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Darker text color for readability */
    font-size: 1em; /* Adjust font size */
}




