html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e4176;
    /* Dark blue background */
    color: #fff;
}

header {
    background-color: #0288d1;
    /* Light blue header */
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-size: 28px;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.nav-active {
    background-color: rgb(289, 189, 20);
    border-radius: 4vw;
}

.tickets-text h2 {
    font-size: 48px;
    color: white;
    text-align: center;
}

.ticket-block-price {
    color: black;
    text-align: center;
    font-size: 22px;
    margin-top: 5px;
}

.ticket-block-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: center;
    /* Center items horizontally */
    align-items: stretch;
    /* Stretch items to have equal height */
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.ticket-block-card {
    --borderWidth: 5px;
    border-radius: var(--borderWidth);
    padding: 1em;
    flex-basis: 26%;
    margin: 1em;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #f0f0f0;
    position: relative;
}

.ticket-block-card:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

.ticket-block-image img {
    max-width: 100%;
    border-radius: 10px;
}

.ticket-block-link {
    text-decoration: none;
    color: inherit;
}

.ticket-block-text {
    margin-top: 1em;
    font-size: 1.3em;
    color: #333;
    list-style-position: outside;
}

footer {
    background-color: #0288d1;
    /* Light blue footer */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

footer .social-media img {
    width: 25px;
    margin-left: 10px;
}

footer a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}