/* main settings for the whole page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e4176;
    color: #fff;
}

/* settings for a header */
header {
    background-color: #0288d1;
    color: #fff;
    font-size: 22px;
    padding: 1px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

/* setting for navigation buttons in a header */
nav a {
    font-size: 28px;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

/* effect on navigation buttons when is hovering */
nav a:hover {
    border-bottom: 2px solid white;
    transition: 0.05s;
}

/* settings for navigation active button (this page) */
.nav-active {
    border-bottom: 2px solid white;
    transition: padding 0.3s;
}

/* effect on navigation active button (this page) when is hovering*/
.nav-active:hover {
    padding-bottom: 6px;
    transition: 0.2s;
}

#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

#menu-toggle {
    display: none;
}

@media (max-width: 900px) {
    .nav-links a {
        font-size: calc(3vw - 1%)
    }
    header h1 {
        font-size: calc(4vw - 1%);
    }
    .side-news {
        display: none;
    }
    
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: #0288d1;
        z-index: 3;
    }
    .nav-links a {
        margin: 10px 0;
        text-align: center;
        padding: 10px;
        border-top: 1ps solid rgba(255, 255, 255, 0.2)
    }
    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}

.tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* settings for top text */
.tickets-text h2 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

/* settings for filter bar section */
.filter-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    max-width: fit-content;
    background-color: #0288d1; /* Light blue filter bar */
    padding: 10px;
    border-radius: 8px;
}

/* settings for filter bar sections */
.filter-bar select,
.filter-bar input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    border-radius: 8px;
}

/* settings for all ticket cards */
.ticket-block-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    align-items: stretch; /* Stretch items to have equal height */
}

/* settings for price inside each card */
.ticket-block-price {
    color: black;
    text-align: center;
    font-size: 1.5em;
    margin-top: 8px;
}

/* settings for old price line inside each card */
.old-price {
    text-decoration: line-through;
    text-decoration-color: rgba(255, 0, 0, 0.824);
    text-decoration-thickness: 3px;
}

/* function that gives movements to gradient */
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 25% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 25% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* settings for each card */
.ticket-block-card {
    --borderWidth: 5px;
    border-radius: var(--borderWidth);
    padding: 1em;
    flex-basis: 26%;
    margin: 1em;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #f0f0f0;
    position: relative;
}

/* modifies gradient border of each card */
.ticket-block-card:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

/* setting for image inside card */
.ticket-block-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* setting for text inside card */
.ticket-block-text {
    margin-top: 1em;
    font-size: 1.3em;
    color: #333;
    list-style-position: outside;
}

/* settings for the whole footer */
footer {
    background-color: #0288d1;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

/* settings for each image in footer */
footer .social-media img {
    max-width: 36px;
}

/* settings for privacy and terms of service in footer */
footer a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}